<style>
    .anniu{
        padding-bottom: 22px;
    }
    .ziti{
        color:red;
    }
</style>
<div class="main-body">
    <div class="nav_title" style="left: 0; width: 100%;">
        <div class="panel_title">
            <div class="p_div">
                <div class="p_text" style="visibility: inherit; top: 0px; transform-origin: 84px 9px 0px;">
                    <p><span>{$page_title}</span></p>
                </div>
            </div>
        </div>
        <div class="refresh_div">
            <button class="layui-btn layui-btn-small layui-btn-primary" onclick="javascript:location.reload();">
                <i class="layui-icon">&#x1002;</i>
            </button>
        </div>
    </div>
    <div class="lay-body">
        <div class="lay-search">
            <div class="nav_header">
                <div class="p-search">
                    <div class="p_text">
                        <p><i class="layui-icon">&#xe615;</i><span>筛选查询</span></p>
                    </div>
                </div>
                <div class="p_menu_left">
                    <div class="menu_left">
                        <button class="layui-btn" onclick="subForm()">查询结果</button>
                    </div>
                    <input type="hidden" name="actid" value="{$request['actid']}" />
                </div>
            </div>
            <div class="search-form">
                <form class="layui-form" method="get" action="" id="searchForm">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">输入搜索：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="keyword" placeholder="用户名称" value="{$request['keyword']}" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline" style="text-align: left;">
                            <label class="layui-form-label">公众号：</label>
                            <div class="layui-input-inline">
                                <select id="uniacid" name="uniacid">
                                    <option value="">全部</option>
                                    <volist name="uniList" id="vo">
                                        <option value="{$vo.uniacid}" <if condition="$vo.uniacid eq $request['uniacid']">selected="selected"</if>>{$vo.name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline" style="text-align: left;">
                            <label class="layui-form-label">活动标题：</label>
                            <div class="layui-input-inline">
                                <select id="actid" name="actid">
                                    <option value="">全部</option>
                                    <volist name="actList" id="vo">
                                        <option value="{$vo.rid}" <if condition="$vo.rid eq $request['actid']">selected="selected"</if>>{$vo.title}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-body">
            <div class="nav_header">
                <div class="p-search">
                    <div class="p_text">
                        <p><ic><img src='/Public/new/img/i_list.png'/></ic><span>{$page_header}</span></p>
                    </div>
                </div>
                <!-- <div class="pub_menu_left">
                    <div class="m_left">
                        <div class="layui-form-item">
                            <div class="layui-unselect layui-form-select" onclick="exportData()">
                                <div class="layui-select-title">
                                    <input type="button" class="layui-input layui-unselect" value="邮寄导出"><i class="layui-edge"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <form class="layui-form">
                <div class="layui-table">
                    <table class="layui-table">
                        <colgroup>
                            <col width="200">
                            <col width="100">
                            <col width="150">
                            <col width="220">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                        </colgroup>
                        <thead>
                        <tr>
                            <th style="text-align: center;">活动标题</th>
                            <th style="text-align: center;">用户头像</th>
                            <th style="text-align: center;">用户昵称</th>
                            <th style="text-align: center;">礼物信息</th>
                            <th style="text-align: center;">充值金额</th>
                            <th style="text-align: center;">充值时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="lists" id="vo" key="k">
                            <tr style="text-align: center;">
                                <td>{$vo.title}</td>
                                <td><img src="{$vo.avatar}" width="40" height="40"></td>
                                <td>{$vo.nickname}</td>
                                <td>
                                    <img src="{$vo.gifticon}" width="30" height="30">
                                    {$vo.gifttitle}*{$vo.giftcount}
                                </td>
                                <td>{$vo.fee}</td>
                                <td>{$vo.createtime|date='Y-m-d H:m:s',###}</td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="tab-footer">
                        <div class="right-oper">
                            <div id="layPage"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form
            ,layer = layui.layer;

        // 再次抽中设置
        form.on('switch(switchPost)', function(data){
            var id = $(this).val();
            var nval = this.checked ? 1 : 2;
            var ntype = 'status';
            setOper([id],nval,ntype);
        });

        // 全选
        form.on('checkbox(allChoose)', function(data){
            var child = $(data.elem).parents('table').find('tbody input[name="checkId[]"]');
            child.each(function(index, item){
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });

    // 分页设置
    var allTotal = {$_total|default=0};
    var curr = {$_curr|default=1};
    var limit = {$_limit|default=10};
    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;
        laypage.render({
            elem: 'layPage'
            ,count: allTotal
            ,limit: limit
            ,curr : curr
            ,layout: ['count', 'prev', 'page', 'next', 'skip']
            ,jump: function(obj,first){
                if(!first){
                    let keyword = $('input[name="keyword"]').val();
                    jsGet('', {curr: obj.curr,keyword:keyword});
                }
            }
        });
    });

    // 中奖次数设置
    $("input[name='nextnum']").on('blur',function(a){
        var id = $(this).parent().parent().find("input[name='checkId[]']").val();
        var nval = $(this).val();
        var ntype = 'nextnum';
        setOper([id],nval,ntype);
    });

    function setOper(ids,nval,ntype)
    {
        var lod_index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        $.post('/Admin/Highawlogs/ajax_update', { ids: ids,nval: nval,ntype: ntype },function(data){
            layer.close(lod_index);
            var parsedJson = jQuery.parseJSON(data);
            if(parsedJson.error == 0){
                layer.msg(parsedJson.message);
                window.location.reload();
            }else{
                layer.msg(parsedJson.message);
            }
        });
    }

    // 查询
    function subForm()
    {
        $("#searchForm").submit();
    }

    $(function(){
        var windowHeigth = $(document).height();
        $(".main-body").height(windowHeigth);
    });

</script>