<script>
	function resetVerifyCode() {
		var timenow = new Date().getTime();
		document.getElementById('verifyImage').src = '{:U("Verify/index")}#'
				+ timenow;
	}
</script>
<form id="myform" method='post' name="login"
	action="{:U('Index/password')}">
	<table cellpadding=0 cellspacing=0 class="table_form table" width="100%">
		<tr>
			<td width="140" class="a_r">{:L('oldpassword')}:</td>
			<td>
				<input type="password" class="input-text" name="oldpassword"
					validate=" required:true, minlength:5, maxlength:20">
			</td>
		</tr>
		<tr>
			<td class="a_r">{:L('newpassword')}:</td>
			<td>
				<input type="password" class="input-text" name="password"
					id="password" validate=" required:true, minlength:5, maxlength:20">
			</td>
		</tr>
		<tr>
			<td class="a_r">{:L('repassword')}:</td>
			<td>
				<input type="password" class="input-text" name="repassword"
					validate=" required:true,equalTo: '#password', minlength:5, maxlength:20">
			</td>
		</tr>
		<tr>
			<td class="a_r">{:L('verify')}:</td>
			<td>
				<input type="text" class="input-text" size="6" name="verify">
				<img SRC="{:U('Verify/index')}" BORDER="0"
					ALT="{:L('reverify')}" id="verifyImage" onClick="resetVerifyCode()"
					style="cursor: pointer" align="absmiddle">
			</td>
		</tr>
        <tr>
        	<td></td>
            <td>
            <input TYPE="submit" value="{:L('dosubmit')}" class="btn btn-primary">
			<input type="reset" value="{:L('cancel')}" class="btn btn-warning">
            </td>
        </tr>
	</table>
</form>

