<style type="text/css">
    .fenxiaoshang{
        border: 1px solid #ccc;
        margin-top: 10px;
        width: 550px;
    }
    .fenxiaoshang li{
       box-sizing: border-box;
       padding: 8px 15px 8px 15px;
       /*border-bottom: 1px solid #ccc;*/
       margin-bottom: 15px;
    }
    .shangName{
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        cursor: pointer;
        
    }
    .shangName .Name{
        margin-right: 5px;
        width: 80px;
        text-align: left;
    }
    .nameB,.nameA{
        display: none;
    }
    .fanwei{
		display: none;
    }
</style>
<div class="body-form">
    <div style='margin: 20px auto auto;min-width:100%; width: 99%;'>
        <form class="layui-form" action="" method="post">
            <div class="lay-form-div"> 
                <div class="layui-form-item">
                    <label class="layui-form-label" style='width: 120px;'><span style="color: red;">*</span>部门名称：</label>
                    <div class="layui-input-block" style='margin-left: 150px;'>
                        <input type="text" name="department_name" value="{$info.department_name}" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <if condition="$gid neq 1">
                    <input type="hidden" name="sid" value="{$admin.stid}" />
                    <else />
                    <div class="layui-form-item">
                        <label class="layui-form-label" style='width: 120px;'><span style="color: red;">*</span>所属分销商：</label>
                        <div class="layui-input-block" style='margin-left: 150px;'>
                            <select name="sid">
                                <option value="">全部</option>
                                <volist name="sarr" id="vo">
                                    <option value="{$vo.sid}" <if condition="$vo['sid'] eq $info['sid']">selected="selected"</if> >{$vo.uname}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                </if>
                <div class="layui-form-item">
                    <label class="layui-form-label" style='width: 120px;'><span style="color: red;">*</span>部门职能：</label>
                    <div class="layui-input-block" style='margin-left: 150px;'>
                        <select name="department_type" lay-filter='zhineng' class="zhineng">
                            <option value="">全部</option>
                            <volist name="group_list" id="vo">
                                <option value="{$key}" <if condition="$key eq $info['department_type']">selected="selected"</if> >{$vo}</option>
                            </volist>
                        </select>
                    </div>
                </div>
              
                <div class="layui-form-item">
                    <label class="layui-form-label" style='width: 120px;'>备注信息：</label>
                    <div class="layui-input-block" style='margin-left: 150px;'>
                        <textarea placeholder="请输入内容" class="layui-textarea" name="remark">{$info.remark}</textarea>
                    </div>
                </div>
                <div class="layui-form-item fanwei">
                    <label class="layui-form-label" style='width: 120px;'><span style="color: red;">*</span>业务范围：</label>
                    <div class="layui-input-block" style='margin-left: 150px;'>
                        <!-- <input type="text" name="" value="" placeholder="" autocomplete="off" class="layui-input nameA" disabled> -->
                        <!-- <input type="text" name="dids" value="" placeholder="" autocomplete="off" class="layui-input nameB" disabled> -->
                       <ul class="fenxiaoshang">
                       </ul>
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item" style="margin: 0 auto; text-align: center;">
                <div class="layui-input-block">
                	<input type="hidden" name="did" value="{$did}">
                    <button class="layui-btn" lay-submit lay-filter="formSub">确认</button>
                    <button type="button" onclick="layer_close();" class="layui-btn layui-btn-primary">取消</button>
                </div>
            </div>
            <div style="height: 50px;">
                
            </div>
        </form>
    </div>   
</div>
<script type="text/javascript">
    layui.use(['form'], function(){
        var form = layui.form
        ,$ = layui.jquery;
        //监听提交
        form.on('submit(formSub)', function(data){
            var date = data.field;
            var url = window.location.href;
            var lod_index = layer.load(1, {
                    shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
            $.post(url, date ,function(a){
                    layer.close(lod_index);
                    var jsonDate = jQuery.parseJSON(a);
                    if(jsonDate.state == 1){
                        layer.msg(jsonDate.msg,{
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);  
                            parent.layer.close(index);
                        });
                    }else{
                        layer.msg(jsonDate.msg);
                    }
            });
            return false;
        });
        
         var status = {$info['status']};
        // console.log(status);
        if(status == 0){
        	console.log(1);
        	$.ajax({
                async : true,
                url : "/News/saleTerrace",
                type : "GET",
                dataType : "jsonp", // 返回的数据类型，设置为JSONP方式
                jsonp : 'callback', //指定一个查询参数名称来覆盖默认的 jsonp 回调参数名 callback
                // jsonpCallback: 'handleResponse', //设置回调函数名
                data : {
                	
                }, 
                success: function(data){
                    console.log(data);
                    var length = data.data.length;
                    for(var i=0;i<length;i++){
                        $('.fenxiaoshang').append('<li><div class="shangName"><div class="Name">'+data.data[i].uname+'</div><i class="layui-icon" style="font-size: 16px; color: #999;">&#xe61a;</i></div><div class="radioList" name='+i+'></div></li>')
                        if(data.data[i].list != null){
                            var length1 = data.data[i].list.length;
                            for(var j=0;j<length1;j++){
                            	if(data.data[i].list[j].Belongs_aid == 0){
                                	$(".radioList[name="+i+"]").append('<input type="checkbox" name="" value='+data.data[i].list[j].sid+'-'+data.data[i].list[j].did+' title='+data.data[i].list[j].department_name+'(已分配) lay-filter="name" lay-skin="primary" checked disabled>')
                                }else{
                                   	$(".radioList[name="+i+"]").append('<input type="checkbox" name="dids[]" value='+data.data[i].list[j].sid+'-'+data.data[i].list[j].did+' title='+data.data[i].list[j].department_name+' lay-filter="name" lay-skin="primary">')
                            	}
                            }
                        }
                    }
                   form.render();
                }
            });
        }else{
        	console.log(2);
            var value  = {$did};
        	$.ajax({
                async : true,
                url : "/News/saleTerrace",
                type : "GET",
                dataType : "jsonp", // 返回的数据类型，设置为JSONP方式
                jsonp : 'callback', //指定一个查询参数名称来覆盖默认的 jsonp 回调参数名 callback
                // jsonpCallback: 'handleResponse', //设置回调函数名
                data : {
                	did : value
                }, 
                success: function(data){
                    console.log(data);
                    var length = data.data.length;
                    for(var i=0;i<length;i++){
                        $('.fenxiaoshang').append('<li><div class="shangName"><div class="Name">'+data.data[i].uname+'</div><i class="layui-icon" style="font-size: 16px; color: #999;">&#xe61a;</i></div><div class="radioList" name='+i+'></div></li>')
                        if(data.data[i].list != null){
                            var length1 = data.data[i].list.length;
                            for(var j=0;j<length1;j++){
                            	if(data.data[i].list[j].Belongs_aid == 0){
                                	$(".radioList[name="+i+"]").append('<input type="checkbox" name="" value='+data.data[i].list[j].sid+'-'+data.data[i].list[j].did+' title='+data.data[i].list[j].department_name+'(已分配) lay-filter="name" lay-skin="primary" checked disabled>')
                                }else if(data.data[i].list[j].Belongs_aid == Number(data.data[i].list[j].did)){
                                    if(data.data[i].gid == 2){
                                        $(".radioList[name="+i+"]").append('<input type="checkbox" name="dids[]" value='+data.data[i].list[j].sid+'-'+data.data[i].list[j].did+' title='+data.data[i].list[j].department_name+' lay-filter="name" lay-skin="primary" checked disabled>');
                                    }else{
                                        $(".radioList[name="+i+"]").append('<input type="checkbox" name="dids[]" value='+data.data[i].list[j].sid+'-'+data.data[i].list[j].did+' title='+data.data[i].list[j].department_name+' lay-filter="name" lay-skin="primary" checked>');
                                    }
                                }
                                else{
                                   	$(".radioList[name="+i+"]").append('<input type="checkbox" name="dids[]" value='+data.data[i].list[j].sid+'-'+data.data[i].list[j].did+' title='+data.data[i].list[j].department_name+' lay-filter="name" lay-skin="primary">')
                            	}
                            }
                        }
                    }
                   form.render();
                }
            });
        }
        // +data.data[i].uname+
        
        $('.fenxiaoshang').on('click','.shangName',function(){
            if($(this).next().css('display') == 'none'){
                $(this).next().show();
                $(this).children('i').html('&#xe61a;');
            }else{
                $(this).next().hide();
                $(this).children('i').html('&#xe619;');
            }
        });
        // form.on('checkbox(name)',function(data){
        //     if(data.elem.checked == true){
        //         var valueA = $('.nameA').val();
        //         var valueA1 = $(data.elem).attr('name')+'-'+$(data.elem).attr('title');
        //         $('.nameA').val(valueA+valueA1+',');

        //         var valueB = $('.nameB').val();
        //         $('.nameB').val(valueB+data.value+',');

        //     }else{
        //         var valueA = $('.nameA').val();
        //         var valueA1 = $(data.elem).attr('name')+'-'+$(data.elem).attr('title');
        //         valueA=valueA.replace(valueA1+',',"");
        //         $('.nameA').val(valueA);

        //         var valueB = $('.nameB').val();
        //         valueB=valueB.replace(data.value+',',"");
        //         $('.nameB').val(valueB);
        //     }
        // });
        var status = {$info.status};
        var val = $('.zhineng').val();
        // console.log(status,val);
        if(status == 1 && val == 2){
            $('.fanwei').show();
        }else{
            $('.fanwei').hide();
        };
        form.on('select(zhineng)',function(data){
        	if(data.value == 2){
        		$('.fanwei').show();
        	}else{
        		$('.fanwei').hide();
        	}
        })
    });
</script>