{if $store_type != 1}
<div class="form-group credit_ratio">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">库存预警推送通知</label>
	<div class="col-sm-9 col-xs-12">
		<input type="number" name="stock_warning" class="form-control" value="{$storex_bases['stock_warning']}" />
		<span class="help-block">库存低于多少件后,每当减少库存时会为卖家推送一次库存警报,默认8。</span>
	</div>
</div>
{/if}
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">积分抵扣设置</label>
	<div class="col-sm-9 col-xs-12">
		<label class='radio-inline'><input type="radio" name="credit_pay" value="1"  {if empty($storex_bases['credit_pay']) || $storex_bases['credit_pay'] == 1} checked="true" {/if} onclick="$('.credit_ratio').show();">开启</label>
		<label class='radio-inline'><input type="radio" name="credit_pay" value="2" {if $storex_bases['credit_pay'] == 2} checked="true" {/if} onclick="$('.credit_ratio').hide();">关闭</label>
	</div>
</div>
<div class="form-group credit_ratio" {if $storex_bases['credit_pay'] == 2}style="display: none;"{/if}>
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">积分抵扣比例</label>
	<div class="col-sm-9 col-xs-12">
		<input type="number" name="credit_ratio" class="form-control" value="{$storex_bases['credit_ratio']}" />
		<span class="help-block">设置多少积分（整数）可以抵扣1元，例如30，即30积分 = 1元。请根据获取积分规则，谨慎设置。</span>
	</div>
</div>
<div class="form-group credit_ratio" {if $storex_bases['credit_pay'] == 2}style="display: none;"{/if}>
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">订单抵扣金额</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" id="max_replace" name="max_replace"  class="form-control" value="{$storex_bases['max_replace']}">
		<span class='help-block'>该店铺的订单可用积分抵扣的固定金额</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">分销开关</label>
	<div class="col-sm-9 col-xs-12">
		<label class="radio-inline">
			<input type="radio" name="agent_status" value="1" {if $storex_bases['agent_status'] == 1}checked{/if}/>开启
		</label>
		<label class="radio-inline">
			<input type="radio" name="agent_status" value="2" {if empty($storex_bases['agent_status']) || $storex_bases['agent_status'] == 2}checked{/if}/>关闭
		</label>
		<span class='help-block'>设置该店铺是否开启分销员功能</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">营销开关</label>
	<div class="col-sm-9 col-xs-12">
		<label class="radio-inline">
			<input type="radio" name="market_status" value="1" {if $storex_bases['market_status'] == 1}checked{/if}/>开启
		</label>
		<label class="radio-inline">
			<input type="radio" name="market_status" value="0" {if $storex_bases['market_status'] == 0}checked{/if}/>关闭
		</label>
		<span class='help-block'>开启后，享受店铺内活动，会员卡优惠不再享受</span>
	</div>
</div>