<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{:C('site_title')}-{$page_title}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/new/css/public.css?v={:C('jsversion')}" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/new/css/jquery.step.css?v={:C('jsversion')}" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css?v={:C('jsversion')}" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/layer/layui/css/modules/layer/default/layer.css?v={:C('jsversion')}" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.0.min.js?v={:C('jsversion')}"></script>
<script type="text/javascript" src="__PUBLIC__/layui/layui.js?v={:C('jsversion')}"></script>
<script type="text/javascript" src="__PUBLIC__/layui/lay/modules/layer.js?v={:C('jsversion')}"></script>
<script type="text/javascript" src="__PUBLIC__/new/js/jquery.step.min.js?v={:C('jsversion')}"></script>
<script type="text/javascript" src="__PUBLIC__/new/js/public.js?v={:C('jsversion')}"></script>
<script type="text/javascript" src="__PUBLIC__/new/js/base64.js?v={:C('jsversion')}"></script>
</head>
<body width="100%">
{__CONTENT__}
</body>
</html>