{if $store['agent_status'] == 1}
<div class="form-group">
	<label class="col-xs-12 col-md-2 control-label">分销员分成百分比</label>
	<div class="col-md-10" id="" style="padding-left: 0px;">
		{loop $agent_ratio $l $r}
		<div class="col-sm-11" style="margin: 5px 0px;">
			<div class="input-group">
				<span class="input-group-addon">{$l}级分销员</span>
				<input type="text" class="form-control" name="agent_ratio[{$l}]" value="{$r}" />
				<span class="input-group-addon">%</span>
			</div>
		</div>
		{/loop}
		<div class="col-sm-6">
			<span class="help-block">对应分销员等级所获得该商品的分销提成（值0-100,保留两位小数,按百分比计算）</span>
		</div>
	</div>
</div>
{else}
<span class='help-block' style="color:red;font-size:20px;">店铺设置开启后显示</span>
{/if}